.ffs-input {
  label {
    font-weight: normal;
    color: #555;
  }
  .form-group {
    margin: 0px;
    margin-bottom: 5px;
  }
  .errorText {
    text-align: left;
    font-size: 12px;
  }
  .form-control,
  .input-group-addon {
    border-radius: 0px;
  }
}
