.ffs-input {
  label {
    font-weight: normal;
    color: #555;
  }
  .form-group {
    margin: 0px;
    margin-bottom: 5px;
  }
  .errorText {
    text-align: left;
    font-size: 12px;
  }
  input[type=file] {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .chip {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
    font-size: 12px;
    line-height: 25px;
    border-radius: 25px;
  }
  .closebtn {
    padding-left: 10px;
    color: #999;
    float: right;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
  } // input,
  // select {
  //   border: 2px solid #e0e0e0 !important;
  //   height: 35px;
  //   border-radius: 3px;
  // }
  // .input-group-addon {
  //   border: 2px solid #e0e0e0 !important;
  //   border-left: 0px !important;
  // }
  input,
  select {
    outline: none !important;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2) inset;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.66);
    border: 2px solid #e6e6e6 !important;
  }
  .form-control {
    border-radius: 8px !important;
    height: 40px !important;
  }
  .input-group-addon {
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    background: #e6e6e6;
  }
  .input-group .form-control:first-child,
  .input-group-addon:first-child,
  .input-group-btn:first-child>.btn,
  .input-group-btn:first-child>.btn-group>.btn,
  .input-group-btn:first-child>.dropdown-toggle,
  .input-group-btn:last-child>.btn-group:not(:last-child)>.btn,
  .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  .input-group .form-control:only-child {
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
  }
  input.with-unit {
    border-right: none;
  }
  .input-group-addon {
    border: none;
  }
  .control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    padding-top: 3px;
    cursor: pointer;
  }
  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
  }
  .control-radio .control_indicator {}
  .control:hover input~.control_indicator,
  .control input:focus~.control_indicator {
    background: #cccccc;
  }
  .control input:checked~.control_indicator {
    background: #0277BD;
  }
  .control:hover input:not([disabled]):checked~.control_indicator,
  .control input:checked:focus~.control_indicator {
    background: #0277BD;
  }
  .control input:disabled~.control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
  }
  .control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
  }
  .control input:checked~.control_indicator:after {
    display: block;
  }
  .control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .control-checkbox input:disabled~.control_indicator:after {
    border-color: #7b7b7b;
  }
  .control-label {
    line-height: 25px;
  }
}
