.ffs-input {
  label {
    font-weight: normal;
    color: #555;
  }
  .form-group {
    margin: 0px;
    margin-bottom: 5px;
  }
  .errorText {
    text-align: left;
    font-size: 12px;
  }
  .form-control,
  .input-group-addon {
    border-radius: 0px;
  }
  input[type=file] {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .chip {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
    font-size: 12px;
    line-height: 25px;
    border-radius: 25px;
  }
  .closebtn {
    padding-left: 10px;
    color: #999;
    float: right;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
  }
}
