<div class="nav-side-menu">


  <div class="brand text-center">
    <img src="assets/logo_round.png" class="logo img-responsive" />
    <h1 class="hidden-xs">REPCO</h1>
    <h1 class="visible-xs-block" style="font-size:3em">REPCO</h1>
    <h4>fitness for service software</h4>
  </div>


  <div class="loginbox">
    <h2 class="hidden-xs">LOGIN</h2>
    <div class="form-group">
      <input [focus]="focusEmittier" type="text" class="form-control" [(ngModel)]="username" placeholder="Username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password">
    </div>
    <div class="form-group" *ngIf="errorMessage != ''">
      <label class="errorMsg">Username or Password invalid</label>
    </div>
    <div class="text-center">
      <button type="button" *ngIf="!logging" class="btn btn-default" (click)="login()">LOGIN</button>
      <button type="button" *ngIf="logging" disabled class="btn btn-default" (click)="login()"><span class='fa fa-spinner fa-spin '></span> LOGGING...</button>
      <button type="button" class="btn btn-default" (click)="close()">CLOSE</button>
    </div>
  </div>

</div>
