/* You can add global styles to this file, and also import other style files */

@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css");
body {
  //color: white;
  background-color: rgb(65, 65, 65);
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.btn-ffs {
  background-image: url("/assets/menu_bg.png");
  background-repeat: no-repeat;
  width: 330px;
  height: 123px;
  border-radius: 4px;
  border: none;
  &:hover {
    background-blend-mode: multiply;
  }
}

.btn-general-metal-loss {
  background-position: -9px -22px;
}

.btn-local-metal-loss {
  background-position: -366px -22px;
}

.btn-brittle-fracture {
  background-position: -724px -22px;
}

.btn-pitting-corrosion {
  background-position: -1081px -22px;
}

.btn-hydrogen-damange {
  background-position: -9px -174px;
}

.btn-weld-misalignment {
  background-position: -366px -174px;
}

.btn-crack-like-flaw {
  background-position: -724px -174px;
}

.btn-creep-rupture {
  background-position: -1081px -174px;
}

.btn-fire-damage {
  background-position: -9px -324px;
}

.btn-dent-gouge {
  background-position: -366px -324px;
}

.btn-laminations {
  background-position: -724px -324px;
}

.btn-fatigue {
  background-position: -1081px -324px;
}

.panel-primary>.panel-heading {
  background-color: #0277BD !important;
  color: rgba(255, 255, 255, 0.87);
}

.btn-primary {
  background-color: #0277BD !important;
  color: rgba(255, 255, 255, 0.87);
}
