<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="owin:HandleAllRequests" value="true"/>
    <!--<add key="connectionString" value="Data Source=(local)\SQLEXPRESS;Database=FFS;Integrated Security=True"/>-->
    <add key="connectionString" value="Data Source=db.sdf;Password=m12345;"/>
  </appSettings>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
   
  </system.webServer>
  
</configuration>

