<app-wizard (stepChanged)="onStepChange($event)" (onStepsInit)="onStepsInit($event)">
  <equipment>
    <app-equipment-input [moduleEvent]="moduleEvent"></app-equipment-input>
  </equipment>
  <design>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <app-design-input [moduleEvent]="moduleEvent"></app-design-input>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <app-equipment-image [moduleEvent]="moduleEvent"></app-equipment-image>
      </div>
    </div>
  </design>
  <material>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <app-material-input [moduleEvent]="moduleEvent"></app-material-input>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <app-equipment-image [moduleEvent]="moduleEvent"></app-equipment-image>
    </div>
  </material>
  <flaw>

    <div class="row">
      <div class="col-md-6 col-sm-8 col-xs-6">
        <app-panel>
          <ffs-select label="Crack Type" key="CrackTypeID" [options]=" CrackTypeIDUrl | asynckv: 'crackTypeID' :  'crackTypeName' | async"
            value="1"></ffs-select>

          <ffs-select label="Crack Location" key="CrackLocationID" [options]="CrackLocationIDUrl | asynckv: 'crackLocationID' :  'crackLocationName' | async"
            value="1"></ffs-select>
          <ffs-number label="Crack Length" key="CrackLength" [unit]="(unit | async)?.distance" min="0"></ffs-number>
          <ffs-number label="Crack Depth" key="CrackDepth" [unit]="(unit | async)?.distance" min="0"></ffs-number>
        </app-panel>
      </div>
      <div class="col-md-6 col-sm-4 col-xs-6">
        <img src="assets/crack.bmp" style="margin:0 auto;" class="img-responsive" />
      </div>
    </div>

  </flaw>
  <loads (onCalculate)="onCalculate($event)">
    <app-load-input [moduleEvent]="moduleEvent"></app-load-input>
  </loads>
  <result>
    <app-result [moduleEvent]="moduleEvent"></app-result>
  </result>
</app-wizard>
