<app-wizard (stepChanged)="onStepChange($event)" (onStepsInit)="onStepsInit($event)">
    <equipment>
        <app-equipment-input [moduleEvent]="moduleEvent"></app-equipment-input>
    </equipment>
    <design>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <app-design-input [moduleEvent]="moduleEvent"></app-design-input>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <app-equipment-image [moduleEvent]="moduleEvent"></app-equipment-image>
            </div>
        </div>
    </design>
    <material>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <app-material-input [moduleEvent]="moduleEvent"></app-material-input>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <app-equipment-image [moduleEvent]="moduleEvent"></app-equipment-image>
        </div>
    </material>
    <flaw>
    </flaw>
    <loads (onCalculate)="onCalculate($event)">
        <app-load-input [moduleEvent]="moduleEvent"></app-load-input>
    </loads>
    <result>
        <app-result [moduleEvent]="moduleEvent"></app-result>
    </result>
</app-wizard>