<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-md-1 sigma-label">
        <label>$\sigma_0$</label>
      </div>
      <div class="col-md-2 sigma-input">
        <ffs-number key="s0"></ffs-number>
      </div>
      <div class="col-md-1 sigma-label">
        <label>$\sigma_1$</label>
      </div>
      <div class="col-md-2 sigma-input">
        <ffs-number key="s1"></ffs-number>
      </div>
      <div class="col-md-1 sigma-label">
        <label>$\sigma_2$</label>
      </div>
      <div class="col-md-2 sigma-input">
        <ffs-number key="s2"></ffs-number>
      </div>
      <div class="col-md-1 sigma-label">
        <label>$\sigma_3$</label>
      </div>
      <div class="col-md-2 sigma-input">
        <ffs-number key="s3"></ffs-number>
      </div>
      <div class="col-md-1 sigma-label">
        <label>$\sigma_4$</label>
      </div>
      <div class="col-md-2 sigma-input">
        <ffs-number key="s4"></ffs-number>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4 class="hidden-xs">
      $\sigma(x) = \sigma_0 + \sigma_1(\frac xt) + \sigma_2(\frac xt)^2 + \sigma_3(\frac xt)^3 + \sigma_4(\frac xt)^4 $
    </h4>
    <h5 class="visible-xs-block">
      $\sigma(x) = \sigma_0 + \sigma_1(\frac xt) + \sigma_2(\frac xt)^2 + \sigma_3(\frac xt)^3 + \sigma_4(\frac xt)^4 $
    </h5>
  </div>
</div>
