<div class="row">
  <div class="col-md-6">
    <app-panel>
      <ffs-text label="Equipment Number" key="equipmentNumber"></ffs-text>
      <ffs-select label="Equipment Type" key="equipmentType" [options]="equipmentTypes | async" value="1"></ffs-select>
    </app-panel>
    <app-panel>
      <ffs-select label="Methodology" key="methodology" [options]="methodologies | async" value="1"></ffs-select>
      <ffs-select label="Assessment Level" key="assessmentLevel" [options]="assessmentLevel | async" value="1"></ffs-select>
    </app-panel>
    <app-panel>
      <ffs-select label="Unit" key="unitID" [options]="units| async" value="1"></ffs-select>
    </app-panel>
    <app-panel>
      <ffs-text label="Analysis By" key="analysisBy" required="true"></ffs-text>
      <ffs-date label="Analysis Date" key="analysisDate"></ffs-date>
      <ffs-browse label="Equipment Image" key="equipmentImage" accept="image/*"></ffs-browse>
    </app-panel>
  </div>
  <div class="col-md-6">
    <div class="row">
      <img src="assets/equipment1.png" class="img-responsive" />
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 mt-md-3" style="margin-top:10px;">
        <img [attr.src]="previewEquipmentImage" class="img-responsive" *ngIf="previewEquipmentImage != ''" />
      </div>
    </div>
  </div>
</div>
