<div class="row text-center">

  <button class="btn-ffs btn-brittle-fracture" routerLink="/module/brittle"></button>
  <button class="btn-ffs btn-general-metal-loss" routerLink="/module/generalmetalloss"></button>
  <button class="btn-ffs btn-local-metal-loss" routerLink="/module/localmetalloss"></button>
  <button class="btn-ffs btn-pitting-corrosion" routerLink="/module/pittingcorrosion"></button>

  <button class="btn-ffs btn-hydrogen-damange" routerLink="/module/hydrogen"></button>
  <button class="btn-ffs btn-weld-misalignment" routerLink="/module/weld"></button>
  <button class="btn-ffs btn-crack-like-flaw" routerLink="/module/crack"></button>
  <button class="btn-ffs btn-creep-rupture" routerLink="/module/creeprupture"></button>

  <button class="btn-ffs btn-fire-damage" routerLink="/module/fire"></button>
  <button class="btn-ffs btn-dent-gouge" routerLink="/module/dent"></button>
  <button class="btn-ffs btn-laminations" routerLink="/module/lamination"></button>
  <button class="btn-ffs btn-fatigue" disabled></button>
</div>
