<div class="row text-center">

    <button class="btn-ffs btn-brittle-fracture" routerLink="/brittle"></button>
    <button class="btn-ffs btn-general-metal-loss" routerLink="/generalmetalloss"></button>
    <button class="btn-ffs btn-local-metal-loss" routerLink="/localmetalloss"></button>
    <button class="btn-ffs btn-pitting-corrosion" routerLink="/pittingcorrosion"></button>

    <button class="btn-ffs btn-hydrogen-damange" routerLink="/hydrogen"></button>
    <button class="btn-ffs btn-weld-misalignment" routerLink="/weld"></button>
    <button class="btn-ffs btn-crack-like-flaw" routerLink="/crack"></button>
    <button class="btn-ffs btn-creep-rupture" routerLink="/creeprupture"></button>

    <button class="btn-ffs btn-fire-damage" routerLink="/fire"></button>
    <button class="btn-ffs btn-dent-gouge" routerLink="/dent"></button>
    <button class="btn-ffs btn-laminations" routerLink="/lamination"></button>
    <button class="btn-ffs btn-fatigue" routerLink="/fatigue"></button>
</div>