<div class="row text-center">
  <button class="btn-ffs btn-brittle-fracture" routerLink="/brittle"></button>
  <button class="btn-ffs btn-general-metal-loss" routerLink="/generalmetalloss"></button>
  <button class="btn-ffs btn-local-metal-loss" routerLink="/localmetalloss"></button>
  <button class="btn-ffs btn-pitting-corrosion" routerLink="/pittingcorrosion"></button>
</div>
<div class="row text-center">
  <button class="btn-ffs btn-hydrogen-damange"></button>
  <button class="btn-ffs btn-weld-misalignment"></button>
  <button class="btn-ffs btn-crack-like-flaw"></button>
  <button class="btn-ffs btn-creep-rupture"></button>
</div>
<div class="row text-center">
  <button class="btn-ffs btn-fire-damage"></button>
  <button class="btn-ffs btn-dent-gouge"></button>
  <button class="btn-ffs btn-laminations"></button>
  <button class="btn-ffs btn-fatigue"></button>
</div>
