<div class="wizard-component row">
  <div class="col-md-2 col-sm-3 col-xs-3">
    <div class="list-group">
      <a class="list-group-item text-center" *ngFor="let step of steps" (click)="selectStep(step)" [class.active]="step.active">
        <div class="row">
          <div class="col-md-5 col-sm-5 col-xs-4 no-margin no-padding">
            <i class="ffs-icons fa fa-{{icons[step.title | lowercase]}} fa-fw fa-3x hidden-xs" aria-hidden="true"></i>
            <i class="ffs-icons fa fa-{{icons[step.title | lowercase]}} fa-fw fa-2x visible-xs" aria-hidden="true"></i>
          </div>
          <div class="no-margin no-padding col-md-7 col-sm-7 col-xs-8 text-left">
            <h4 class="hidden-xs">{{step.title}}</h4>
            <h5 class="visible-xs">{{step.title}}</h5>
          </div>

        </div>
      </a>
    </div>
  </div>

  <!-- <div class="col-md-12 visible-xs" style="background:whitesmoke;">
    <ul class="nav nav-pills">
      <li role="presentation" style="cursor:pointer;" *ngFor="let step of steps" (click)="selectStep(step)" [class.active]="step.active"><a><i class="ffs-icons fa fa-{{icons[step.title | lowercase]}} fa-fw" aria-hidden="true"></i> {{step.title}}</a></li>
    </ul>
  </div> -->

  <div class="col-md-10 col-sm-9 col-xs-9 wizard-component-container">
    <div class="row" style="border-bottom:1px #ddd solid;margin-left:5px">
      <div class="col-md-5 col-sm-3" style="padding:0px;">
        <h2 class="title">{{step.title}}</h2>
      </div>
      <div class="col-md-7 col-sm-9 text-sm-right text-md-center" style="margin-top:20px;margin-bottom: 10px;">

        <button type="button" class="btn btn-primary" (click)="backStep()" [disabled]="!canBack" *ngIf="step.backVisible">
          <span class="glyphicon glyphicon-menu-left"></span> Back
        </button>
        <button type="button" class="btn btn-primary" (click)="nextStep()" [disabled]="!canNext" *ngIf="step.nextVisible">
          Next
          <span class="glyphicon glyphicon-menu-right"></span>
        </button>

        <button type="button" (click)="calculate()" class="btn btn-success" style="background: #00695C;border-color: #00695C;" *ngIf="step.calculateVisible">
          <span class="glyphicon glyphicon-hourglass"></span> Calculate
        </button>
        <!-- 
        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Open
        </button>
        <button type="button" class="btn btn-success" (click)="newInput()"><span class="glyphicon glyphicon-plus"></span>       New
        </button>
        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span>  Save
        </button> -->
      </div>
    </div>
    <div class="row" style="height:100%;">
      <ng-content></ng-content>
    </div>
  </div>

</div>
