<div class="wizard-component row">
  <div class="col-md-2 hidden-sm hidden-xs">
    <div class="list-group">
      <a class="list-group-item text-center" *ngFor="let step of steps" (click)="selectStep(step)" [class.active]="step.active">
        <span class="icon-custom icon-custom-{{step.title | lowercase}}"></span>
        <span>{{step.title}}</span>
      </a>
    </div>
  </div>

  <div class="col-md-12 hidden-md hidden-lg" style="background:whitesmoke;">
    <ul class="nav nav-pills">
      <li role="presentation" style="cursor:pointer;" *ngFor="let step of steps" (click)="selectStep(step)" [class.active]="step.active"><a>{{step.title}}</a></li>
    </ul>
  </div>

  <div class="col-md-10 wizard-component-container">
    <div class="row" style="border-bottom:1px #ddd solid;">
      <div class="col-md-5">
        <h2 class="title">{{step.title}}</h2>
      </div>
      <div class="col-md-7 text-right" style="margin-top:20px;">

        <button type="button" class="btn btn-primary" (click)="backStep()" [disabled]="!canBack" *ngIf="step.backVisible">
          <span class="glyphicon glyphicon-menu-left"></span>  Back
        </button>
        <button type="button" class="btn btn-primary" (click)="nextStep()" [disabled]="!canNext" *ngIf="step.nextVisible">
          Next <span class="glyphicon glyphicon-menu-right"></span>
        </button>

        <button type="button" (click)="calculate()" class="btn btn-success" style="background: #00695C;border-color: #00695C;" *ngIf="step.calculateVisible"><span class="glyphicon glyphicon-hourglass"></span>      Calculate
        </button>

        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Open
        </button>
        <button type="button" class="btn btn-success" (click)="newInput()"><span class="glyphicon glyphicon-plus"></span>       New
        </button>
        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span>  Save
        </button>
      </div>
    </div>
    <div class="row" style="height:100%;">
      <ng-content></ng-content>
    </div>

  </div>

</div>
