$primary-color: white;
.wizard-component {
  margin-right: 0px;
  div.list-group>a.active:after {
    // content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px; // border-left: 0;
    // border-bottom: 13px solid transparent;
    // border-top: 13px solid transparent;
    // border-left: 10px solid $primary-color;
  }
  .list-group-item {
    cursor: pointer; //background: rgba(255, 255, 255, 0.98);
    background-color: rgb(248, 249, 251);
  }
  .list-group-item.active {
    border-left: 1px solid black;
  }
  .list-group-item.active,
  .list-group-item.active:focus,
  .list-group-item.active:hover {
    z-index: 2; // color: white;
    background-color: $primary-color;
    border: 1px solid #ddd;
    border-right: none;
    color: #444546;
  }
  .list-group-item h4 {
    margin-top: 15px;
  }
  .icon-custom {
    display: block;
    height: 50px;
    background-position: center center;
    background-size: 40px;
    background-blend-mode: hue;
    background-repeat: no-repeat;
  }
  .icon-custom-equipment {
    background-image: url("/assets/equipment.png");
  }
  .icon-custom-design {
    background-image: url("/assets/design.png");
  }
  .icon-custom-material {
    background-image: url("/assets/material.png");
  }
  .icon-custom-flaw {
    background-image: url("/assets/flaw.png");
  }
  .icon-custom-loads {
    background-image: url("/assets/load.png");
  }
  .icon-custom-result {
    background-image: url("/assets/result.png");
  }
}

.wizard-component-container {
  margin-left: -5px;
  background: rgba(255, 255, 255, 0.98); // border-color: rgba(245, 245, 245, 1);
  margin-left: -16px;
  padding-left: 30px;
  border: 1px solid #ddd;
}
