<!-- <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header"> <a href="#" class="navbar-brand"> <img alt="Brand"  src="https://upload.wikimedia.org/wikipedia/en/thumb/7/70/Siam_Cement_Group_Logo.svg/1200px-Siam_Cement_Group_Logo.svg.png" height="50"> </a>      </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row text-center">

    <button class="btn-ffs btn-general-metal-loss"></button>
    <button class="btn-ffs btn-local-metal-loss"></button>
    <button class="btn-ffs btn-brittle-fracture"></button>
    <button class="btn-ffs btn-pitting-corrosion"></button>


  </div>
  <div class="row text-center">
    <button class="btn-ffs btn-hydrogen-damange"></button>
    <button class="btn-ffs btn-weld-misalignment"></button>
    <button class="btn-ffs btn-crack-like-flaw"></button>
    <button class="btn-ffs btn-creep-rupture"></button>
  </div>
  <div class="row ">
    <button class="btn-ffs btn-fire-damage"></button>
    <button class="btn-ffs btn-dent-gouge"></button>
    <button class="btn-ffs btn-laminations"></button>
    <button class="btn-ffs btn-fatigue"></button>
  </div> -->
<!-- <div class="row">
    <app-brittle-fracture></app-brittle-fracture>
  </div> -->
<!-- <div class="row">
    <app-sidenav></app-sidenav>
  </div>
  <div class="row">

    <button class="btn-ffs btn-general-metal-loss"></button>
    <button class="btn-ffs btn-local-metal-loss"></button>
    <button class="btn-ffs btn-brittle-fracture"></button>
    <button class="btn-ffs btn-pitting-corrosion"></button>


  </div>
  <div class="row">
    <button class="btn-ffs btn-hydrogen-damange"></button>
    <button class="btn-ffs btn-weld-misalignment"></button>
    <button class="btn-ffs btn-crack-like-flaw"></button>
    <button class="btn-ffs btn-creep-rupture"></button>
  </div>
  <div class="row">
    <button class="btn-ffs btn-fire-damage"></button>
    <button class="btn-ffs btn-dent-gouge"></button>
    <button class="btn-ffs btn-laminations"></button>
    <button class="btn-ffs btn-fatigue"></button>
  </div> -->


<div class="container-fluid">
  <div class="row">
    <app-brittle-fracture></app-brittle-fracture>
  </div>
</div>
